.logo{
    border-radius: 100%;
    width: 3rem;

}

.logo-youtube{
    
    width: 4rem;
}

.nav{
    padding-left: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
   
}

.nav2{
    display: flex;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    gap:3rem
}

.lista{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


